.App {
  
  background: #14213d;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.List-Element{
  color: #e5e5e5;
  background-color: #000000;
  
}

.First-Title{
  text-align: center;
  border-style: "outset"; 
  color: #fca311;
  
}

.Button_Style{
  margin: 20px;
  background-color: #14213D;
  color: #fca311;
  border-style:hidden;
  border-radius: 5px;
  width: 60px;
  height: 30px;
}

.Input_Style{
  margin: 20px;
}

.Form_Style{
  background-color: #E5E5E5;
  text-align: left;
  border-radius: 10px;
  border-color: #9FB8AD;
  border-style: ridge;
  width: 30%;

}


