.App {
  text-align: center;
  background-color:#E4DFDA;
  border-style: dotted;
}

.First-Title {
  color: #731DD8;
}
.Second-Title {
  color: #B481EE;
}
.Component-Title {
  color: #6B1BC5;
}

table {
  text-align: center;
  border: #5F5245 2px solid;
  width: 1500px;
  border-collapse: collapse;
}

th {
  border: #000000 2px solid;
  border-collapse: collapse;
  background-color: #000000;
  color: white;
}

input {
  margin: 5px;
}


.Submit-Button{
  background-color: #48A9A6;
  border-style:double; 
}

.Submit-Button:hover{
  background-color: #A9DAD9;
}

.Delete-Button{
  background-color: #C1666B;
  border-style:double; 
}

.Delete-Button:hover{
  background-color: #DCA8AB;
}

.Edit-Button{
  background-color: #7D787A;
  border-style:double; 
}

.Edit-Button:hover{
  background-color: #B9B6B7;
}



